@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}



#phone-menu-box {
  background: rgba(255, 255, 255, 0,1); /* More opaque */
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#header{
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.btns{
   background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
   &:hover{
   background-image: linear-gradient(to right,#7ac5d8 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #eea2a2  100%); 
   }
}

/* //connect and view my work design css */
.btn-grad {background-image: linear-gradient(to right, #eea2a2 1%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);}
.btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 1px #eee;
            border-radius: 100px;
            display: block;
          }

.btn-grad:hover {
            box-shadow: 0 0 10px #eee;
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }



.card {
  background: rgba(255, 255, 255, 0.1); /* translucent background */
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* main glass effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/* this is for removing the circle default form the range tag */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
  box-shadow: none;
  border: none;
}

input[type='range']::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: default;
}
